<?xml version="1.0" encoding="utf-8" ?>
<!--
Bundle.config
Is auto generated

Licensed under MIT (https://github.com/artvabas/artvabasMainWebApp/blob/master/License)
(c) 2023, artvabas
-->
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
	<include path="~/Content/artvabas.css "/>
  </styleBundle>
</bundles>