.avb-contact-control {
    width: 300px;
}

.avb-contact-table-size{
    width: 600px;
}

.avb-contact-cell-allign{
    text-align:right;
    vertical-align:top;
    width:300px;
    padding-bottom:10px
}

