.avb-contact-control {
    width: 300px;
}

div.avb-contact-table-size{
    width: 600px;
}

.avb-contact-cell-allign{
    text-align:right;
    vertical-align:top;
    width:300px;
    padding-bottom:10px
}

div.avb-contact-cell-allign-btn {
    display: flex;
    justify-content: left;
    width: 100pc;
    border:5px solid red;
}

.avb-contact-btn-send{
    margin-right: 3.5em;
 
}

.avb-contact-Validation-Summary {
    width: 600px;
 }

.avb-language {
    display: flex;
    justify-content:center;
    margin-bottom:10px;
    
}